@import '../../style/variables.scss';
.addForm {
	//position: relative;
	font-size: 1.2rem;
	min-height: 400px;
	margin-bottom: 20px;
	margin-right: 20px;
	border: 1px solid $placeholderText-color;
	border-radius: 10px;
	padding: 20px 40px 40px 40px;
	background-color: $mainBG-color;
	@media (max-width: 928px) {
		width: 100%;
		margin-right: 0px;
	}

	@media (max-width: 448px) {
		font-size: 1rem;
		min-height: 300px;
		padding: 10px;
	}

	h2 {
		text-align: center;
		margin-bottom: 20px;
	}

	&__label {
		margin: 10px;
	}
	&__input {
		width: 85px;
		height: 30px;
		padding: 0 15px;
		margin: 10px;
		font-size: 1.15rem;
		box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
		border: none;
		border-radius: 4px;
		@media (max-width: 448px) {
			font-size: 0.9rem;
			padding: 0 10px;
			width: 68px;
		}
	}

	&__btn {
		background-color: $btn-enable-color;
		color: #ffffff;
		border-radius: 10px;
		width: 284px;
		height: 36px;
		font-family: 'inter';
		font-size: 0.75rem;
		display: block;
		margin-top: 54px;
		margin: 0 auto;
		margin-top: 100px;

		//position: absolute;
		//bottom: 40px;
		//left: 50%;
		//transform: translateX(-50%);
		@media (max-width: 928px) {
			width: 70%;
		}

		cursor: pointer;
		border: none;
		&:active {
			transform: scale(1.05);
		}
		&:disabled {
			background-color: $btn-disable-text-color;
			color: $main-text-color;
			cursor: default;
			&:active {
				transform: none;
			}
		}
	}
}
