@import '../../style/variables.scss';
.wrapper {
	max-width: 1040px;
	margin: 10px auto;
	padding: 20px;
	//background-color: $btn-disable-color;
}

.header {
}

.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
