@import '../../style/variables.scss';
.wrapper {
	max-width: 1040px;
	margin: 10px auto 0px auto;
	padding: 20px 20px 0 20px;
}

.header {
}

.nav {
	display: flex;
	justify-content: center;
	margin-bottom: 30px;
}

.button {
	background-color: white;
	color: $label-color;
	border: none;
	width: 33.3%;
	height: 60px;
	display: block;
	cursor: pointer;

	p {
		font-family: 'inter';
		font-size: 0.75rem;
	}

	&:hover {
		border-radius: 10px;
		border: solid 0.4px rgba(73, 72, 94, 0.2);
	}
	&:disabled {
		background-color: $btn-disable-color;
		color: $btn-disable-text-color;
		cursor: default;
		&:active {
			transform: none;
		}
	}
}

.button_active {
	background-color: #53834b;
	color: #ffffff;
	border-radius: 10px;
	width: 33.3%;
	height: 60px;
	display: block;
	cursor: pointer;
	border: none;
	p {
		font-family: 'inter';
		font-size: 0.75rem;
	}
}

.main {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	@media (max-width: 297px) {
		flex-direction: column;
		align-items: center;
	}
}
