@import '../../style/variables.scss';

.wrapper {
	//background-color: $btn-enable-color;
	height: 70px;
	margin-bottom: 210px;
	position: relative;
	h1 {
		font-size: 2.2rem;
		color: #fff;
		position: absolute;
		top: 100px;
		left: 40px;
		font-family: 'Play', sans-serif;
		font-weight: 700;
		@media (max-width: 448px) {
			font-size: 1.5rem;
		}
	}
}

.image {
	@media (max-width: 500px) {
		max-width: 300px;
		margin: 0 auto;
		img {
			display: block;
			max-width: 230px;
			margin: 10px auto;
		}
	}
}

.banner {
	background-color: $error-validated-color;
	width: 100%;
	height: 175px;
	background: url('../../resources/img/banner.jpg') no-repeat center;
	filter: brightness(0.5);
	background-size: cover;

	padding: 30px;
}
